<%include ../common/header.ejs%>
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>404 Not Found</h1>
        <p>您所查找的资源找不到或者已被删除</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/" role="button">返回首页 &raquo;</a>
        </p>
    </div>
</div> <!-- /container -->
<%include ../common/footer.ejs%>